.about {
    max-width: 1280px;
    min-height: 300px;
    //   background-color: green;

      .about-photo {
          max-width: 1280px;
          height: 465px;
        //   background-color: burlywood;
          display: flex;
          justify-content: center;
          align-items: center;

          .photo-container {

            max-width: 980px;
            height: 380px;
            background-color: #ffd140;

            img {
                width: 980px;
                height: 380px;
                opacity: .2;
            }
          }

            

          }

          .about-title {
              max-width: 1280px;
              height: 50px;
            //   background-color: blue;

              .about-titlebox {
                  height: 50px;
                  width: 230px;
                //   background-color: red;
                  margin-left: 150px;
                  font-family: gill-sans;
                  font-size: 25px;
                  border-bottom-style: solid;
                  border-bottom-width: 3px;

              }

          }

          .about-text {
              max-width: 1280px;
              min-height: 100px;
            //   background-color: paleturquoise;
              margin-top: 36.5px;
              padding-left: 150px;
              padding-right: 150px;
              font-family: gill-sans;
              font-size: 16px;
              font-style: italic;
              margin-bottom: 95px;

          }
      }